@tailwind base;

@tailwind components;

@tailwind utilities;
.my-text{
    color:rgb(76 171 184) ;
    
}
.center{
    transform: translate(-50%, -0%);
    width: calc(height);
}
.png-affect{
    filter: drop-shadow(10px 8px 6px #ff0000);
}
.inactiveClasses div{
    position: absolute;
    inset: 0;
    background-color: rgba(26, 26, 26, 0.209);
    backdrop-filter: blur(2px);
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1 !important;
}
.dbg{
    /* background: url(); */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.451), rgba(0, 0, 0, 1)), url(./imgs/grbg.png);
    background-Size: cover;
    background-Position: center;
}